[run]
branch = True
source = grokcore.content

[report]
precision = 2
omit = */interfaces.py
       */interfaces/*
       */tests.py
       */tests/*

[html]
directory = htmlcov

[paths]
source =
   src/grokcore/content
   .tox/*/lib/python*/site-packages/grokcore/content

