[buildout]
develop = .
parts = interpreter test releaser
extends = http://svn.zope.org/*checkout*/groktoolkit/trunk/grok.cfg
versions = versions
newest = false

[interpreter]
recipe = zc.recipe.egg
eggs = grokcore.content
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = grokcore.content [test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser
